<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//solovm.com/static/jwplayer.js"></script>
    <script>jwplayer.key="XBYstHtCk+T5MDmhaD+JgjNNg3hyNZ34l2w3Kw==";</script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <style type="text/css">
    body{
        overflow: hidden;
    }
</style>
<title>API</title>
</head>
<body>
  {{{body}}}
</body>
</html>